@import '../../../sass/styles.scss';

.errorMessage {
  position: absolute;
  font-feature-settings: 'clig' off, 'liga' off;
  @include font(11px, 400, 1.16, 0.12px);
  color: $error-color;
}
