// colors
$orange-color: #e6533c;
$white-color: #efede8;
$black-color: #040404;
$orange-1-color: #ef8964;
$beige-color: #efa082;
$success-color: #3cbf61;
$error-color: #d80027;
$gray-color-02: rgba(239, 237, 232, 0.2);
$gray-color-03: rgba(239, 237, 232, 0.3);
$gray-color-05: rgba(239, 237, 232, 0.5);
$gray-color-06: rgba(239, 237, 232, 0.6);

// inputs
$border-radius: 12px;
$border-input: 1px solid $gray-color-03;
$border-active: 1px solid $orange-color;
$border-success: 1px solid $success-color;
$border-error: 1px solid $error-color;

// images
// $base-path: '../images/HomeBgImg/';
$bg-mobile-1x: '../../images/HomeBgImg/bg-mobile-1x.jpg';
$bg-mobile-2x: '../../images/HomeBgImg/bg-mobile-2x.jpg';
$bg-tablet-1x: '../../images/HomeBgImg/bg-tablet-1x.jpg';
$bg-tablet-2x: '../../images/HomeBgImg/bg-tablet-2x.jpg';
$bg-desktop-1x: '../../images/HomeBgImg/bg-desktop-1x.jpg';
$bg-desktop-2x: '../../images/HomeBgImg/bg-desktop-2x.jpg';

// gradient
$bg-mobile-home-gradient: linear-gradient(
    170deg,
    #040404 3.66%,
    rgba(4, 4, 4, 0) 19.15%
  ),
  linear-gradient(73deg, #040404 6.11%, rgba(4, 4, 4, 0) 66.68%);
$bg-desktop-home-gradient: linear-gradient(
  80deg,
  #040404 -2.45%,
  rgba(4, 4, 4, 0) 68.17%
);

$bg-mobile-sign-in-gradient: linear-gradient(
    168deg,
    #040404 14.75%,
    rgba(4, 4, 4, 0) 52.97%
  ),
  linear-gradient(73deg, #040404 6.11%, rgba(4, 4, 4, 0) 66.68%);
