@import '../../../sass/styles.scss';

.filterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 40px;
  width: 335px;
  gap: 16px;
  z-index: 1;
  @include tablet {
    flex-direction: row;
    margin-block: 32px;
    width: 664px;
  }
  @include desktop {
    margin-top: 0;
    margin-left: auto;
  }

  &_SearchWrapper {
    position: relative;
    width: 100%;
    @include tablet {
      width: 236px;
      flex-shrink: 0;
    }
  }

  &_SearchField {
    width: 100%;
    padding: 14px;
    @include font(14px, 400, 1.29, 0);
    color: $white-color;
    background: transparent;
    border-radius: $border-radius;
    border: $border-input;
    &:focus-visible {
      outline: none;
      border-color: $orange-color;
      background: transparent;
    }
    @include tablet {
      height: 52px;
      @include font(16px, 400, 1.5, 0);
    }
  }

  &_btnSearch,
  &_btnCancel {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    padding: 0px;
    border-color: transparent;
    background: transparent;
  }

  &_btnCancel {
    right: 40px;
  }

  &_iconSearch,
  &_iconCancel {
    width: 18px;
    height: 18px;
  }

  &_iconCancel {
    stroke: $orange-color;
  }

  &_SelectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
  }

  &_selectCategory,
  &_selectRecommended {
    width: 146px;
    padding: 14px;
    @include font(14px, 400, 1.29, 0);
    text-transform: capitalize;
    text-overflow: ellipsis;
    color: $white-color;
    background: transparent;
    border-radius: $border-radius;
    border: $border-input;
    @include tablet {
      width: 192px;
      height: 52px;
      @include font(16px, 400, 1.5, 0);
    }

    & option {
      width: 146px;
      border-radius: 12px;
      @include font(14px, 400, 1.29, 0);
      text-transform: capitalize;
      background: #1c1c1c;
      @include tablet {
        width: 192px;
        @include font(16px, 400, 1.5, 0);
      }
    }
    &:focus-visible {
      outline: none;
      border-color: $border-input;
      background: transparent;
    }
  }

  &_selectRecommended {
    width: 173px;

    @include tablet {
      width: 204px;
    }

    & option {
      width: 173px;
      @include tablet {
        width: 204px;
      }
    }
  }
}
