@import '../../sass/styles.scss';

.wrapper {
  margin-bottom: 28px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

.title {
  margin-bottom: 20px;
  &::first-letter {
    text-transform: uppercase;
  }
}
