@import '../../sass/styles.scss';

.section {
  max-width: 1400px;
  margin: 0 20px;

  @include tablet {
    display: flex;
    margin: 0 32px;
  }

  @include desktop {
    margin-left: 96px;
  }
}
