@import '../../sass/styles.scss';

.title_container {
  margin-bottom: 196px;

  @include tablet {
    margin-bottom: 130px;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.title {
  width: 335px;
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  @include font(38px, 500, 1.05, 0.38px);
  color: $white-color;

  @include tablet {
    width: 598px;
    margin-bottom: 64px;
    @include font(70px, 500, 1.11, 0.7px);
  }
}

.navLink_wrapper {
  display: flex;
  gap: 14px;

  @include tablet {
    gap: 20px;
  }
}

.navLink {
  padding: 12px 40px;
  @include font(16px, 500, 1.13, 0);
  border-radius: $border-radius;
  border: $border-input;

  &.sign_up {
    background-color: $orange-color;
    @include hover {
      background-color: $orange-1-color;
    }
  }

  &.sign_in {
    @include hover {
      border: $border-active;
    }
  }

  @include tablet {
    padding: 16px 60px;
    @include font(20px, 500, 1.2, 0);
    white-space: nowrap;
  }
}
