@import '../../sass/styles.scss';

.wrapper_bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  width: 298px;
  height: 565px;
  margin-top: -288px;
  margin-left: 55px;

  &.home {
    background-image: $bg-mobile-home-gradient, url($bg-mobile-1x);
    @include retina {
      background-image: $bg-mobile-home-gradient, url($bg-mobile-2x);
    }
    @include tablet {
      background-image: url($bg-tablet-1x);
      @include retina {
        background-image: url($bg-tablet-2x);
      }
    }
    @include desktop {
      background-image: $bg-desktop-home-gradient, url($bg-desktop-1x);
      margin-left: 44px;
      @include retina {
        background-image: url($bg-desktop-2x);
      }
    }
  }

  &.auth {
    background-image: $bg-mobile-sign-in-gradient, url($bg-mobile-1x);
    @include retina {
      background-image: $bg-mobile-sign-in-gradient, url($bg-mobile-2x);
    }
    @include tablet {
      background-image: $bg-mobile-home-gradient, url($bg-tablet-1x);
      @include retina {
        background-image: $bg-mobile-home-gradient, url($bg-tablet-2x);
      }
    }
    @include desktop {
      background-image: $bg-desktop-home-gradient, url($bg-desktop-1x);
      @include retina {
        background-image: url($bg-desktop-2x);
      }
    }
  }

  @include tablet {
    width: 437px;
    height: 893px;
    margin-top: -544px;
    margin-left: 300px;
  }

  @include desktop {
    background-size: 100%;
    width: 670px;
    height: 800px;
    margin-left: 145px;
    margin-top: -158px;
  }
}
